<div class="bg" style="background-color: F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">

        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left: 100px;">Login</h1>
                    </div>
                </div>
                <form nz-form [formGroup]="loginFrom">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input your Email" >
                            <nz-input-group nzPrefixIcon="user" >
                                <input type="text" nz-input placeholder="Email" formControlName="email"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input your Password ! " >
                            <nz-input-group nzPrefixIcon="lock" >
                                <input type="password" nz-input placeholder="password" formControlName="password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
                     (click)="login()"  [disabled]="loginFrom.invalid">Log in</button>
                    Or <a routerLink="/register">register now!</a>
                </form>
            </div>

        </div>

    </nz-spin>
</div>